port {{ .Port }}
proto {{ .Protocol }}
dev tun
topology subnet
server 10.8.0.0 255.255.255.0
{{- if .CAPath }}
ca {{ .CAPath }}
{{- end }}
cert {{ .CertPath }}
key {{ .KeyPath }}
{{- range .PeerFingerprints }}
peer-fingerprint {{ . }}
{{- end }}
dh none
persist-key
persist-tun
verb 4
{{- if .NSCertType }}
ns-cert-type {{ .NSCertType }}
{{- end }}
{{- if .VerifyX509Name }}
verify-x509-name "{{ .VerifyX509Name }}"{{ if .VerifyX509Type }} {{ .VerifyX509Type }}{{ end }}
{{- end }}
{{- if .CRLVerifyPath }}
crl-verify {{ .CRLVerifyPath }}
{{- end }}
{{- if .Cipher }}
cipher {{ .Cipher }}
{{- end }}
{{- if .Auth }}
auth {{ .Auth }}
{{- end }}
{{- if .DisableNCP }}
ncp-disable
{{- else if .DataCiphers }}
{{ .DataCiphersDirective }} {{ .DataCiphers }}
{{- end }}
{{- if gt .TunMTU 0 }}
tun-mtu {{ .TunMTU }}
{{- end }}
{{- if gt .Fragment 0 }}
fragment {{ .Fragment }}
{{- end }}
{{- if .MSSFixDisabled }}
mssfix 0
{{- else if gt .MSSFix 0 }}
mssfix {{ .MSSFix }}{{ if .MSSFixMode }} {{ .MSSFixMode }}{{ end }}
{{- end }}
{{- if .Compression }}
compress {{ .Compression }}
{{- end }}
{{- if .CompressionLZO }}
comp-lzo {{ .CompressionLZO }}
{{- end }}
{{- if .TLSAuthPath }}
tls-auth {{ .TLSAuthPath }} 0
{{- end }}
{{- if .TLSCryptPath }}
tls-crypt {{ .TLSCryptPath }}
{{- end }}
{{- if .TLSCryptV2Path }}
tls-crypt-v2 {{ .TLSCryptV2Path }}{{ if .TLSCryptV2Option }} {{ .TLSCryptV2Option }}{{ end }}
{{- end }}
{{- if .RequireUserPass }}
script-security 2
auth-user-pass-verify {{ .AuthScriptPath }} via-file
{{- end }}
{{- if .CRResponseScriptPath }}
client-crresponse {{ .CRResponseScriptPath }}
{{- end }}
{{- if gt .ManagementPort 0 }}
management 0.0.0.0 {{ .ManagementPort }}
management-client-auth
{{- end }}
{{- if gt .RenegotiationSeconds 0 }}
reneg-sec {{ .RenegotiationSeconds }}
{{- end }}
{{- range .PushLines }}
push "{{ . }}"
{{- end }}
log {{ .LogPath }}
